.bbody{
    background-image: url("https://www.freevector.com/uploads/vector/preview/8186/FreeVector-Blue-Background-Graphics.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
